<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.tsukurusha.phonegap.plugins.ScreenOrientation"
    version="2.3.1">

  <name>ScreenOrientation</name>
  <author>Bob Easterday</author>

  <description>
    This PhoneGap Plugin for Android can lock/unlock the screen orientation.
  </description>

  <license>MIT</license>

  <js-module src="www/screen-orientation.js" name="ScreenOrientation">
      <clobbers target="ScreenOrientation" />
  </js-module>

  <engines>
      <engine name="cordova" version="&gt;=3.0.0" />
  </engines>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
      <feature name="ScreenOrientation" >
        <param name="android-package" value="com.tsukurusha.phonegap.plugins.ScreenOrientation"/>
      </feature>
        </config-file>

        <source-file src="src/android/ScreenOrientation.java"
                target-dir="src/com/tsukurusha/phonegap/plugins" />
    </platform>
</plugin>
